# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Interfront2020\lecture7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
